* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* ----------------Common Styling--------------------------- */
body {
    font-family: Arial, Helvetica, sans-serif;
    background: #ccc url("../images/background.png") repeat;
    color: #999;
    line-height: 1em;
}

.clear {
    clear: both;
}

nav {
    float: right;
    margin-top: 35px;
    margin-right: 250px;
    /* position: fixed; */
}

a {
    text-decoration: none;
    color: #999;
    ;
}

a:hover {
    background-color: #386;
    padding: 5px;
    color: #fff;
}

.imgSectionClass img:hover {
    border: 1px solid #000;
    cursor: pointer;
    padding: 5px;
    background: #229;
}

h1,
h2,
h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

ul {

    list-style: none;
}

/* ------------Header Styling-------------------- */
#mainHeader {
    width: 100%;
    height: 80px;
    background: #fff;
    border-bottom: 2px solid #ccc;

}

li {
    margin-right: 5px;
    padding: 0 15px 0 5px;
    border-right: 1px solid #99a;
    display: inline;
}

li:last-child {
    border: none;
}

#mainH1 {
    float: left;
    margin-left: 200px;
    margin-top: 43px;
    padding: 10px;

    font-size: 1.5em;
    /* border: 1px solid #000; */
    background-color: #4aaaa5;
    color: #fff;
}

/* ---------mainSectionAboutMe Styling------------ */
.outerSectionClass {
    width: 100%;
    height: 600px;
    background: #ccc url("../images/background.png") repeat;
}


/* ------------------innerSectionAboutMe Styling-------------------------------- */

.innerSectionClass {
    position: relative;
    /* overflow: scroll; */
    width: 90%;
    /* width: 960px; */
    height: 480px;
    margin-left: auto;
    margin-right: auto;
    top: 40px;
    padding: 20px;
    border: 1px solid #ddd;
    background: #fff;
}

.innerSectionClass header {
    margin-bottom: 30px;
    border-bottom: 1px solid #ddd;
}

.innerSectionClass h2 {
    font-size: 1.5em;
    color: #4aaaa5;
    margin: 10px 0 10px 5px;
}

.innerSectionClass p {
    margin-top: 10px;
    line-height: 1.8em;
}

.innerSectionClass h3 {
    margin-bottom: 15px;
    font-size: 1.5em;
}

/* -----------------imgDiv Styling----------------------------- */
#imgDiv {
    float: left;
    width: 30%;

    text-align: center;
}

#imgDiv img {
    width: 150px;
    height: 150px;

}

/* ---------------------Footer Styling------------------------------- */
footer {
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
    color: #fff;
    text-align: center;
    padding-top: 1%;
    /* vertical-align: bottom; */
    background: #666666;
    border-top: 5px solid #4aaaa5;
}

/* ------------------------Contact Styling---------------------------------------- */
label {
    display: block;
    /* margin-top:5px; */
    margin-bottom: 5px;
}

input,
textarea {
    width: 90%;
    display: block;
    padding: 5px;
    margin-bottom: 15px;
    border: 1px solid #999;
}

#btnSubmit {
    width: 150px;
    background: #4aaaa5;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
}

/* -------------------------------Portfolio Page Styling---------------------------------------------------- */
.outerSectionPortfolio {
    height: 700px;
}

.innerSectionPortfolio {
    width: 50%;
    height: 650px;
}

.imgSectionClass {
    float: left;
    margin-left: 10px;
    margin-bottom: 10px;
}

.imgSectionClass h2 {
    margin: 0;
    position: relative;
    font-size: 1.1em;

    padding: 10px;
    bottom: 50px;
    text-align: center;
    background: #4aaaa5;
    color: #fff;

}

.imgSectionClass img {
    width: 200px;
    height: 200px;
}

/* ----------Image Dialog Styling--------------------- */

#imgOpenDiv {
    width: 300px;
    height: 300px;
    /* position: absolute; */
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    /*half of width*/
    margin-top: -150px;
    /*half of height */
    border: 1px solid #000;
    text-align: center;
    background: #e6c684;
    box-shadow: 2px 2px 5px #000;
    border-radius: 10px;

}

#imgOpenDiv header {
    width: 100%;
    height: 30px;
    background: #229;
    color: rgb(241, 240, 240);
    text-align: right;
    padding: 5px 0;
    padding-right: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 5px;
}

#imgOpenDiv header span {
    cursor: pointer;
    padding: 5px;

}

#imgOpenDiv header span:hover {
    background: #999;
    color: #000;
}

#divImg {
    width: 90%;
    height: 255px;
    margin-top: 0px;
    /* margin-right: auto; */
}

/* ----------------------Media Query---------------------------- */
/* for more than 980px */
@media only screen and (min-width:980px){
    body{
        /* background: aqua; */
    }
    .innerSectionClass{
        width: 70%;
    }
    .imgSectionClass{
        margin-left: 20px;
    }
}
/* 980 to 768px */
@media only screen and (max-width: 980px) {
    body {
        /* background: red; */
    }

    nav {
        margin-top: 40px;
        margin-right: 10%;
    }
    .innerSectionClass{
        height: 450px;
        
    }
    .innerSectionClass h3 {
        margin-bottom: 23px;
        font-size: 1.3em;
    }

    .imgSectionClass {
        width: 45%;
    }
    .innerSectionPortfolio {
        width: 90%;
        height: 650px;
        overflow: scroll;
    }

    .imgSectionClass h2 {
        width: 90%;
    }

    .imgSectionClass img {
        width: 90%;
    }

    .imgSectionClass:last-of-type {
        float: none;
    }
}

/* 768 to 640px */
@media only screen and (max-width:768px) {
    body {
        /* background: blue; */
    }

    nav {
        margin-right: 0;
    }

    #mainH1 {
        margin-left: 100px;
    }

    #imgDiv {
        margin-right: 10px;
    }
    .innerSectionClass{
        height: 480px;
    }
    .innerSectionPortfolio {
        width: 90%;
        height: 800px;
        overflow: scroll;
    }

    .imgSectionClass h2 {
        font-size: 1em;
        padding: 8px;
    }

    footer {
        padding-top: 2%;
    }
}

@media only screen and (max-width:640px) {
    body {
        /* background: orangered; */
    }
    .outerSectionClass{
        height: 780px;
    }
    .innerSectionClass{
        height: 700px;
        overflow: scroll;
    }
    #mainH1 {
        margin-left: 0;
        margin-top: 0;
        width: 100%;
        text-align: center;
    }

    nav {
        float: none;
        margin-top: 0;
        text-align: center;
        padding-top: 45px;
    }
    #imgDiv{
        float:none;
        width: 90%;
    }

    #imgDiv img {
        width: 80%;
        height: 80%;
    }
    .innerSectionClass h3{
            margin-top:15px;
    }
    .imgSectionClass {
        width: 100%;
    }

    .innerSectionPortfolio {
        overflow: scroll;}
    .innerContactFormClass{
        height: 500px;
    }
    .outerContactFormClass{
        height: 600px;
    }
}